body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}
barra-progresso {
    height: 30px;
    width: 500px;
    border: 1px solid black;
}
.progresso {
    background-color: red;
    height: 5%;
}
.btn {
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0px 10px;
    background-color: #e51c23;
    color: #fff;
}